div 
{
    border-radius: 5px;
    background-color: #f4f4f4;
    
}
.bodao
{
	background-color: #f4f4f4;
}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.menu 
{
    float: left;
}

.menu a 
{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu a:hover:not(.active) 
{
    background-color: #CD5555;
    text-decoration: none;
    color: white;
}

.active 
{
    background-color: black;
}
ul
{

    border-radius: 5px;
    margin-bottom: 5px;
    
}
.imagens
{
	border-radius: 5px;

}

#ft
{
	color: white;
    text-align: center;
}

.foot
{
	background-color: black;
}


.botao
{
background: url('Imagens/npesq.PNG')  no-repeat;
width: 25px;  
height: 25px;
margin-top: 5px; 
border: none;

}

textarea
{
    width: 20%;
    padding: 1px 0px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.butonC 
{
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.buton
{
    width: 10%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.pesq
{
    width: 30%;
    padding: 3px 5px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #333;
    border-radius: 4px;
    box-sizing: border-box;
    
}
#pe
{
    display: block;
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    float: left;
}
.divao 
{
    border-radius: 5px;
    
    padding: 20px;
}
nav
{
    width: 100%;
}
#teform
{
    padding-left: 50px;
}
.ind
{
    background-color: #d4d4d4;
}


.embacao
{

    opacity: 0.2;
    background-color: black;
}
.aaa
{
    padding-left: 60px;
}
th
{
    padding: 15px;
    text-align: center;
    color: white;
    background-color: black;
}
td
{
    padding: 10px;
    text-align: center;
    border: 1px solid #333;
}
#dmenu
{
    float: right;
}
/* Set a style for all buttons */
button
{
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 13%;
}

button:hover 
{
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn 
{
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer 
{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar 
{
    width: 40%;
    border-radius: 50%;
}

.container 
{
    padding: 16px;
}

span.psw 
{
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal 
{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 99; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content 
{
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close 
{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus 
{
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate 
{
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom 
{
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom 
{
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) 
{
    span.psw 
    {
       display: block;
       float: none;
    }
    .cancelbtn 
    {
       width: 100%;
    }
}
input[type=text], select 
{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password], select 
{
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.nav-custom-style{

    position: sticky;
    top: 0;
    z-index: 98;

}
.nego{
    background-color: white;
}
.divano{
    float: right;
}